<%= form_for user, remote: true do |f| %>

    <% if user.errors.any? %>
        <div id="error_explanation">
          <h3>
            <%= pluralize(user.errors.count, "error") %> prohibited
            this user from being saved:
          </h3>
          <ul>
            <% user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :status %><br>
      <%= f.select(:status,
                   options_for_select(ApplicationHelper::Constants::STATUS_OPTIONS,
                                      selected:user.status),
                   include_blank: true) %>
    </p>

    <p>
      <%= f.label :role %><br>
      <%= f.select(:role_id,
                   options_from_collection_for_select(roles, :id, :name, user.role_id),
                   include_blank: true)%>
    </p>
    <p>
      <%= f.submit %>
    </p>

<% end %>