<li>
  <p>name:
    <%= link_to user.name, edit_user_path(user) %>
  </p>
  <p>role: <%= user.role.try(:name) %></p>
  <p>permissions:
    <% user.all_permissions.each do |permission| %>
      <span>
        <%= permission.name %>
      </span>
    <% end %>
  </p>
</li>