<% if success %>
  $("<%= j(render 'user', user: saved_user) %>").appendTo("#users");
<% end %>
$("#notice").html("<%= notice %>");
$("#user-form").html("<%= j(render partial: 'form', locals: { user: user, roles: roles }) %>");