<h1>Listing users</h1>

<ul id="users">
  <%= render all_user %>
</ul>

<h2>Add/edit user</h2>
<p id="notice"><%= notice %></p>
<div id="user-form">
  <%= render partial: 'form', locals: { user: user, roles: roles } %>
</div>
